wifi_ssid: "some-ssid"
wifi_password: "password"

# hotspot (captive portal) password
ap_password: "appassword"

# Home Assistant API encryption key
ha_api_key: "mySupeRAwesOmekeYyy=-+"

ota_password: "otapassword"

xiaomi_mjyd02yla_bindkey: "1234567890foobarbaz"
